$Primary-H: #C5EEFF;
$Primary-M: #247BA0;
$Primary-S: #1A6180;

$Secondary-H: #FFFEFD;
$Secondary-M: #FFFAEB;
$Secondary-S: #F1EAD4;

$Splash-H: #DA53C9;
$Slash-M: #33006F;
$Splash-S: #901681;

$Pop-H: #EFB048; 
$Pop-M: #E29516;
$Pop-S: #C78312; 

$Attention-H: #EF3043; 
$Attention-M: #D60015;
$Attention-S: #AB0919;

$Gray200: #F4F9FD;
$Gray300: #DDE6ED;
$Gray500: #9DB2BF;
$Gray600: #526D82;
$Gray700: #455C6F;
$Gray800: #30414E;
$Gray1000: #20282E; 

$Footer: #59A1B5;
$AboutMe: #F4F9FD; 
$ZooGrass: #85B640;

$thank-you-text-color: #555;
