@import 'colors';

@mixin h1-about{
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 73px;
}

@mixin h1-bold {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 73px;
}

@mixin h1-reg {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 73px;
}

@mixin h2-bold {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
}

@mixin h2-reg {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
}

@mixin h3-bold {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
}

@mixin h3-reg {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
}

@mixin h3-reg-dm {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

@mixin h4-reg  {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

@mixin h4-bold  {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

@mixin h4-reg-dm {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

@mixin h5-bold  {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

@mixin h5-reg  {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@mixin p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

@mixin form-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
}

@mixin wh-cards {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: $Attention-M; 
    overflow-wrap: break-word;
    -webkit-text-stroke: 1px $Gray200;
    text-stroke: 1px $Gray200;
}
