.zoo-button-1{
    bottom: 17rem;
    position: absolute;
    left: 17rem;
}
.zoo-button-2{
    bottom: 38rem;
    position: absolute;
    left: 5rem;
}
.zoo-button-3{
    bottom: 69rem;
    position: absolute;
    left: 3rem;
}
.zoo-button-4{
    bottom: 26rem;
    position: absolute;
    left: 16rem;
}