@import '../../styles/index.scss';

    .footer-bar {
        background-color: $Footer;
        bottom: -0.5px;
        width: 100vw;
        position: fixed;
        text-align: center;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-self: center;
        height: 50px;
    }
    
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .foot-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-inline: 11px;
    }

    .link-image{
        margin-bottom: -0.5rem;
        width: 2.2rem;
        padding-inline: 0.4rem;
    }
    
    .signature{
        width: 9rem;
        padding-left: 1rem;
    }

    .copy-right{
        color: $Secondary-M;
        align-self: self-end;
        @include h4-reg-dm;
        font-size: 12px;
        margin-bottom: 0.55rem;
        @media (max-width: 420px) {
            line-height: 15px;
        }
        @media (max-width: 480px) and (max-height: 439px) {
            line-height: 15px;
        }
        @media (min-width: 481px) and (max-width: 649px) {
            line-height: 15px;
        }
        @media (min-width: 650px) and (max-height: 465px) {
            line-height: 15px;
        }
        @media (min-width: 865px) and (max-height: 475px) {
            line-height: 15px;
        }
        @media (min-width: 1125px) and (max-height: 495px) {
            line-height: 15px;
        }
        @media (min-width: 1365px) and (max-height: 585px) {
            line-height: 15px;
        }
  
    }
